@keyframes moveCircle {
    0% {
      transform: translateX(50%);
    }
    50% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(50%);
    }
  }
  
  .animate-circle {
    animation: moveCircle 4s infinite alternate;
  }